header, main {
    background-color: #e0e4ef;
}

.btn-nav {
    display: inline-block;
    background-color: #424249;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    transition: all 1s;
}

.btn-nav:hover {
    background-color: #ff5e2c;
    transition: all 1s;
}

.navbar-brand-dark {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.navbar-brand-orange {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    display: none;
}

.navbar-brand-dark:hover {
    display: none;
}

.navbar-brand-dark:hover ~ .navbar-brand-orange {
    display: flex;

}

.after-navbar-text {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 68px;
    color:#424249;
    margin-left: 141px;
}

.after-navbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 100px;
}

body h1 {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 60px;
}

.title {
    display: flex;
    flex-wrap: nowrap;
}

.about-company {
    padding-top: 100px;
    margin-bottom: 100px;
}

.subtitle {
    display: flex;
    flex-wrap: nowrap;
}

.description {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 50px;
}

.title-dark {
    border-bottom: 7px solid #424249;
    transition: all 1s;
}

.title-dark:hover {
    border-bottom: 7px solid #ff5e2c;
    color: #ff5e2c;
    transition: all 1s;
}

.description-dark {
    color: #424249;
    transition: all 1s;
}

.description-dark:hover {
    color: #ff5e2c;
    transition: all 1s;
}

.title-white {
    color: #e0e4ef;
    background-color: #424249;
    transition: all 1s;
    border-bottom: 7px solid #e0e4ef;
}

.title-white:hover {
    border-bottom: 7px solid #ff5e2c;
    color: #ff5e2c;
    transition: all 1s;
}

.description-white {
    color: #e0e4ef;
    background-color: #424249;
    transition: all 1s;
}

.description-white:hover {
    color: #ff5e2c;
    transition: all 1s;
}

.consumers-main, .consumers {
    background-color: #424249;
    padding-top: 40px;
    padding-bottom: 50px;
}

.about-product {
    margin-top: 80px;
    padding-bottom: 100px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-back {
    background-color: #3a3a3a;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background-color: #ff5e2c;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}